#startUpPanel.hideMe

	span.fa.fa-close#closeStartUp.closeStartUp

	#stepWelcomeWrap
		h1 Hola
		br
		p 
			span Para iniciar esta aplicación se requieren algunos pasos. 
			br
			br
			strong Complete cada paso para instalar completamente la aplicación. 
			br
			br
		button#startSteps Inicio

	//----------------- Step Navigation
	#stepsWrap
		.oneStepWrap(stepid="step1").successfulStepIcon.onStep
			.stepIcon.bounce 1
		.oneStepWrap(stepid="step2")
			.stepDivide
			.stepIcon 2
		.oneStepWrap.inactive(stepid="step3")
			.stepDivide
			.stepIcon 3
		.oneStepWrap.inactive(stepid="step4")
			.stepDivide
			.stepIcon 4
		.oneStepWrap.inactive(stepid="step5")
			.stepDivide
			.stepIcon 5
		#stepsTitle Se necesitan completar 5 pasos. Haga Click en un paso para ir a su pantalla correspndiente.


	#detailsWrap

		//----------------- Step 1 Content [Check Settings + Welcome]
		#step1.stepWrap.success
			.stepHeader 
				span.fa.fa-gear
				span &nbsp;&nbsp;Chequeo de los archivos de configuración.
			.stepDescription 
				span El primer paso fue el chequeo de los archivos de configuración JSON, para comprobar errores comunes.
				span El archivo que fue chequeado se puede encontrar en 
				span.backgroundMe /config/#{bag.creds_filename}
				span &nbsp;.

			.failureStep 
				p 
					span Eror , hay algo incorrecto con los archivos de configuración. 
					span Busque en la consola del servidor para mayor información.
				br
				p(style="font-weight: 200;") 
					span Compruebe la información de configuracion del proyecto original en los archivos 
					a(href="https://github.com/IBM-Blockchain/marbles/blob/v4.0/docs/config_file.md" target="_blank" style="color:#fff;").
			br
			.successStep Paso 1 Completado
			br
			br
			button.nextStep(nextstepid="step2") Próximo Paso

		//----------------- Step 2 Content [Enroll Admin]
		#step2.stepWrap.hidden
			.stepHeader 
				span.fa.fa-user
				span &nbsp;&nbsp;Comprobación del administrador.
			.stepDescription 
				span Seguidamente, intentamos loguearte como un administrador de la compañía. 
				span Este paso contactó a tu Aautoridad Certificante  (CA) extrajo el  
				span.backgroundMe enrollID (usuario)
				span &nbsp; y  
				span.backgroundMe enrollSecret (contraseña)
				span &nbsp; de tus archivos encriptados. 
				br

			include ./template/loading.pug

			.failureStep 
				p Lo sentimos, no se pudo comprobar el administrador actual contra la CA.
				p Por favor edita la configuración debajo y vuelve a intentarlo.

			.startupWrap
				.settingsExpand 
					span.fa.fa-plus-square
					span &nbsp;&nbsp;Configuración JSON

				.settingsContent
					.stepInputLegend
						span.backgroundMe api_url
						span de la CA 
					input(type="text" placeholder="CA PEj.: 192.168.99.100:8888" name="caUrl" value=bag.creds.ca).longer
					span.fa.fa-question-circle.settingstooltip
						span.tooltiptext Esta es la url HTTP principal para comprobar tu Autoridad Certificante. Debe incluirse el protocolo y el puerto.
					br
					.stepInputLegend
						span.backgroundMe enrollId
					input(type="text" placeholder="Id de Usuario" name="enrollId" value=bag.creds.admin_id).longer
					span.fa.fa-question-circle.settingstooltip
						span.tooltiptext Este debe ser un usuario válido para tu CA. Debe estar previamente registrado en la CA.
					br
					.stepInputLegend
						span.backgroundMe enrollSecret 
					input(type="text" placeholder="Contraseña" name="enrollSecret" value=bag.creds.admin_secret).longer
					span.fa.fa-question-circle.settingstooltip
						span.tooltiptext La contraseña es comprobada con el ID de usuario registrado en la CA.

			.successStep Paso 2 Completado
			button.nextStep(nextstepid="step3") Próximo paso
			button.runStep(stepid="step2" nextstepid="step3")#enrollAdmin Intente nuevamente.

			.showMoreDetails Por qué es importante?
			.moreDetails
				span Si es satisfactorio, la aplicación descargará un certificado de del usuario.
				span El certificado se utilizará para autenticar las futuras transacciones de canicas. 
				span Sin él no se pueden crear transacciones. 

		//----------------- Step 3 Content [Find Chaincode]
		#step3.stepWrap.hidden
			.stepHeader 
				span.fa.fa-file-text
				span &nbsp;&nbsp; Encontrando el código de Transacciones (chaincode)
			.stepDescription 
				span Ahora se necesita encontrar el código en tu canal de transacciones. 
				span Tu archivo personal necesita chequear el canal 
				span.backgroundMe #{bag.creds.channel}
				span &nbsp; para el código chaincode con nombre 
				span.backgroundMe #{bag.creds.chaincode_id}
				span &nbsp;.
				br

			include ./template/loading.pug
			
			.failureStep 
				p No se puede encontrar el código de cadena
				p p Por favor edita la configuración debajo y vuelve a intentarlo
				p(style="font-weight: 200;") O ...
				p(style="font-weight: 200;") 
					span Si esta es la primera vez utilizando la aplicación intente &nbsp;
					a(href="https://github.com/IBM-Blockchain/marbles/tree/v4.0#3-install-and-instantiate-chaincode" target="_blank" style="color:#fff;") instalar/instanciar
					span &nbsp; el código de transacciones de canicas

			.startupWrap
				.settingsExpand 
					span.fa.fa-plus-square
					span &nbsp;&nbsp;COnfiguración JSON

				.settingsContent
					.stepInputLegend
						span OrdenadorÑ:
						span.backgroundMe discovery_url
					input(type="text" placeholder="Ordenador Ej.: 192.168.99.100:5151" name="ordererUrl" value=bag.creds.orderer).longer
					span.fa.fa-question-circle.settingstooltip
						span.tooltiptext Esta es la url principal del protocolo gRPC para llegar a la entidad que ordena las transacciones. Debe incluirse el protocolo y el puerto. Aquí es donde se vana enviar las transacciones de las canicas para su ordenamiento.
					br
					.stepInputLegend
						span Par: 
						span.backgroundMe discovery_url
					input(type="text" placeholder="Par Ej.: 192.168.99.100:7051" name="peerUrl" value=bag.creds.peer).longer
					span.fa.fa-question-circle.settingstooltip
						span.tooltiptext Esta es la url principal del protocolo gRPC para llegar a la entidad que almacena las blockchains junto a ti. Debe incluirse el protocolo y el puerto. Aquí es donde se vana enviar las transacciones de las canicas para su aprobación.
					br
					.stepInputLegend
						span.backgroundMe channel 
					input(type="text" placeholder="Nombre del canal" name="channelId" value=bag.creds.channel).longer
					span.fa.fa-question-circle.settingstooltip
						span.tooltiptext Este es el nombr del canal que creaste en la red blockchain.
					br
					.stepInputLegend
						span.backgroundMe chaincode_id 
					input(type="text" placeholder="ID del Chaincode" name="chaincodeId" value=bag.creds.chaincode_id).longer
					span.fa.fa-question-circle.settingstooltip
						span.tooltiptext Este es el nombre del chaincode que se instanció en esta red. Ej.: marbles.
					br
					.stepInputLegend
						span.backgroundMe chaincode_version 
					input(type="text" placeholder="Versión del Chaincode" name="chaincodeVersion" value=bag.creds.chaincode_version).longer
					span.fa.fa-question-circle.settingstooltip
						span.tooltiptext Esta es la versión del chaincode instalado. Ej.: v4.

			.successStep Paso 3 Completado
			br
			button.nextStep(nextstepid="step4") Próximo Paso
			button.runStep(stepid="step3" nextstepid="step4")#findCcButton Intente Nuevamente

			.showMoreDetails Por qué es importante esto?
			.moreDetails
				span Cada canal en la red tiene su propio libro mayor distribuido para guardar las transacciones.
				span Cuando el chaincode esta corriendo en un canal, entonces el usuario estará habilitado para crear y guardar transacciones.
				span Pudieran existir otros tipos de actividades en el canal, pero por ahora no se tendrán en cuenta.
				br
				br
				span El chaincode en sí mismo es un código con lógica escrito en el lenguaje Go (GoLang). 
				span En él se definen los recursos (
				i assets 
				//), canicas en este caso y las reglas bajo las cuales ocurren sus transferencias. 
				span Las transacciones de chaincode van a crear y modificar, canicas, sus propietarios y sus compañías.
				span Esta aplicación no se podrá utilizar hasta que el chaincode sea instanciado en el canal. 
				
		//----------------- Step 4 Content [Register Marble Owners]
		#step4.stepWrap.hidden
			.stepHeader 
				span.fa.fa-group
				span &nbsp;&nbsp;Crear Recursos
			.stepDescription 
				span Casi Listo! 
				span Como una compañía de intercambio de canicas se deben crear los propietarios de las canicas. 
				span Estos representa tu base de usuarios. 
				br
				br
				span En este paso se van a crear 3 propietarios con 3 canicas cada uno. 

			include ./template/loading.pug

			.startupWrap
				#registerOwnersInputPanel.settingsContent
					.stepInputLegend
						span Compañía
					input(type="text" value=bag.marble_company disabled="disabled").longer
					span.fa.fa-question-circle.settingstooltip
						//-- span.tooltiptext Edit the config file and restart the application to change your company name.
					br
					.stepInputLegend
						span Propietarios 
					input(type="text" placeholder="Ernesto, Jhon, Jane" name="marbleOwners" value=bag.creds.marble_owners).longer
					span.fa.fa-question-circle.settingstooltip
						span.tooltiptext Entre los nombre de los propietarios que desee, separados por comas.
					
			.successStep Paso 4 completo
			button.nextStep(nextstepid="step5" style="display: inline-block") Saltar Paso
			button.runStep(stepid="step4" nextstepid="step5")#registerOwners Crear

		//----------------- Step 5 Content [Finished]
		#step5.stepWrap.hidden.success
			span.fa.fa-smile-o.fa-3x
			.stepDescription(style="text-align:center")
				span La aplicación está lista para su uso!
				br
				br
			
			button(type="button").closeStartUp Iniciar